ProjetoTS/ChatTS/.vs/ChatTS/FileContentIndex/25074890-bafa-411d-af83-17e274a93f54.vsidx
*.vsidx
ProjetoTS/ChatTS/.vs/ChatTS/FileContentIndex/3d6865f6-d013-4373-a2ef-3087060bb867.vsidx
ProjetoTS/ChatTS/.vs/ChatTS/FileContentIndex/25074890-bafa-411d-af83-17e274a93f54.vsidx
ProjetoTS/ChatTS/.vs/ChatTS/FileContentIndex/25074890-bafa-411d-af83-17e274a93f54.vsidx
ProjetoTS/ChatTS/.vs/ChatTS/FileContentIndex/3d6865f6-d013-4373-a2ef-3087060bb867.vsidx
*.vsidx
